<td>
    <button class="btn btn-default btn-xs table-button" data-url="{{downloadLink}}" id="btnPlay">
        <span class="glyphicon glyphicon-play">
            <a id="downloadLink" href="{{downloadLink}}"></a>
        </span>
    </button>
</td>
{{!-- <td><button data-id="{{id}}" class="btnAddToPlaylist">add</button></td> --}}
<td class="hidden-xs"><a href="/#search/1/artist:({{artist}})">{{artist}}</a></td>
<td class="hidden-xs"><a href="/#search/1/album:({{album}})">{{album}}</a></td>
<td class="hidden-xs">{{track}}</td>
<td class="hidden-xs"><a href="/#search/1/title:({{title}})">{{title}}</a></td>
<td class="hidden-xs">{{durationFormated}}</td>
<td class="hidden-xs">{{sizeFormated}}</td>
<td class="hidden-xs">{{bitRateFormated}}</td>
<td class="hidden-xs"><a href="{{downloadLink}}">download</button></td>
<td class="visible-xs">
    <p>
        {{artist}}
    </p>
    <p>
        {{album}}
    </p>
    <a href="{{downloadLink}}">{{title}}</a>
</td>
